/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.technerium-vshp-graph-container{
	width: 100%;
	height: calc(100% - 28px);
	background-color: var(--modal-background);
	color: var(--h1-color);
}

.technerium-vshp-graph-modal{
	width: var(--modal-width);
	height: var(--modal-height);
}

.technerium-vshp-settings-credits-section{

}

.technerium-vshp-settings-credits-p {
	font-size: small;
}

.technerium-vshp-settings-form {

}

.technerium-vshp-settings-setting {
	display: flex;
	padding: 5px;
	margin-bottom: 10px;
}
.technerium-vshp-settings-separator {
	width: 100%;
	border-top: 1px solid var(--background-modifier-border);
}

.technerium-vshp-settings-setting-categories {
	display: flex;
	padding: 5px;
}
.technerium-vshp-settings-setting-categories-list {
	padding: 5px;
}

.technerium-vshp-settings-setting-info {
	padding: 5px;
}

.technerium-vshp-settings-setting-info-name {
	color: var(--text-normal);
	font-size: var(--font-ui-medium);
	line-height: var(--line-height-tight);
}

.technerium-vshp-settings-setting-info-desc {
	color: var(--text-muted);
	font-size: var(--font-ui-smaller);
	padding-top: var(--size-4-1);
	line-height: var(--line-height-tight);
}

.technerium-vshp-settings-setting-control {
	padding: 5px;
	flex: 1 0 150px;
	text-align: right;
}

.technerium-vshp-settings-setting-control>select {
	/*width: 100%;*/
}


.technerium-vshp-settings-category-form {
	display: flex;
	padding: 3px;
}

.technerium-vshp-settings-category-form-grab-area {
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	cursor: grab;
}

.technerium-vshp-settings-category-form-name {
	flex: 1;
}

.technerium-vshp-settings-category-form-color {
	flex: 0 0 30px;
}

.technerium-vshp-settings-category-form-name > input {
	width: 100%;
}

.technerium-vshp-settings-category-form-pattern {
	flex: 0 0 350px;
	padding: 0 5px;
}

.technerium-vshp-settings-category-form-pattern > input {
	width: 100%;
}

.technerium-vshp-settings-category-form-actions {
	flex: 0 0 100px;
}

.technerium-vshp-settings-category-form-actions > button {
	width: 100%;
}


.technerium-vshp-settings-category-form-helper-container {
	flex: 1 0 auto;
}

.technerium-vshp-settings-category-form-helper-row {
	display: flex;
}

.technerium-vshp-settings-category-form-helper-actions {
	flex: 1;
	padding: 3px;
}

.technerium-vshp-settings-category-form-helper-actions > button {
	width: 100%;
}

[id^="rc-editable-input-"],[for^="rc-editable-input-"] {
	color: var(--text-normal) !important;
}
