/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.technerium-vshp-graph-container{
	width: 1000px;
	height: 800px;
	margin-top: 10px;
	background-color: var(--modal-background);
	color: var(--h1-color);
}

.technerium-vshp-graph-modal{
	width: auto;
	height: auto;
}

.technerium-vshp-settings-credits-section{

}

.technerium-vshp-settings-credits-p {
	font-size: small;
}

